@import "tailwindcss";

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@theme {
  --color-primary: #FF6161;
  --color-dark: #0D0D0D;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-onest);
  --font-display: var(--font-instrument-sans);
  --font-serif: var(--font-instrument-serif);
}

:root {
  --background: #ffffff;
  --foreground: #0D0D0D;
}

@media (min-width: 768px) {
  :root {
    cursor: none;
  }

  a,
  button,
  input,
  textarea {
    cursor: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D0D;
    --foreground: #ffffff;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-onest), sans-serif;
}

@layer utilities {
  .animate-marquee {
    animation: marquee 40s linear infinite;
    will-change: transform;
  }

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }

  .show-cursor,
  .show-cursor * {
    cursor: auto !important;
  }
}